.box{
    border: 1px solid;
    padding: 8px 16px;
}

.child + .child {
    margin-left: 12px;
  }

@media print {
.no-print, .no-print *{
    display: none !important;
}

.print-only{
    display: block;
}

.full-height-div {
    height: 100%;
}
}