.box {
  border: 1px solid;
  padding: 8px 16px;
}

/* body {
  overflow: hidden; /* Hide scrollbars 
} */

::-webkit-scrollbar {
  display: none;
}

/* .invisible-scrollbar::-webkit-scrollbar {
  display: none;
} */

.child + .child {
  margin-left: 12px;
}

.right {
  float: right;
  line-height: 0.5;
 
}

.center {
  position: absolute;
  text-align: center;
  line-height: 0.2;
  right: 80px;
  width: 50%;
  /* border: 3px solid green; */
  padding: 80px 20px 20px 20px;
}

.font {
  font-size: "5px";

}

.left {
  float: left;
  padding: 0px 0px 20px 0px;
}



@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }

  .print-only {
    display: block;
  }

  .full-height-div {
    height: 100%;
  }

  .footer {
    page-break-before: always;
  }
}
